.designer-main-panel {
    position: relative;
    .main-panel-container {
        height: 100%;
        .tdp-layout-renderer:hover {
            background-color: rgba(169,168,117,.5)!important;
            box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, .5);
        }
    }
}